@model ConfettiStore.Models.OrderAttachment

@{
    ViewData["Title"] = "Create";
}
<div class="d-none d-md-block">
    <i class="fas fa-link text-dark float-right" style="font-size:50px;"></i>
    <ul class="breadcrumb">
        <li><a href="#" onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
        <li><a href="#" onclick="location.href='@Url.Action("Index", "OrderAttachments")'">Order Attachments</a></li>
        <li>Create</li>
    </ul>
</div>
<h1>Create</h1>

<h4><i class="fas fa-link text-dark"></i> Order Attachment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select asp-for="OrderId" class="form-control shadow-sm" asp-items="ViewBag.OrderId"></select>
            </div>
            @*<div class="form-group">
                    <label asp-for="Created" class="control-label"></label>
                    <input asp-for="Created" class="form-control" />
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "OrderAttachments")'">Return To List</button>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
