@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4 opacity" style="padding-bottom:10px; margin-bottom-10px;">Welcome</h1>
        <p>Confetti Store</p>
    </div>
    <div class="col-sm-8 m-auto" style="padding-top:5px;">
        <div id="slider4" class="carousel slide mb-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#slider4" data-slide-to="0"></li>
                <li data-target="#slider4" data-slide-to="1"></li>
                <li data-target="#slider4" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img @*class="d-block img-fluid"*@ src="https://source.unsplash.com/wgq4eit198Q/700x400" alt="First Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>LOGO</h3>
                        <p>Confetti Store</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img @*class="d-block img-fluid"*@ src="https://source.unsplash.com/WLUHO9A_xik/700x400" alt="Second Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>LOGO</h3>
                        <p>Confetti Store</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img @*class="d-block img-fluid"*@ src="https://source.unsplash.com/4yta6mU66dE/700x400" alt="Third Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>LOGO</h3>
                        <p>Confetti Store</p>
                    </div>
                </div>
            </div>
            <!-- CONTROLS -->
            <a href="#slider4" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#slider4" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="text-center d-sm-none col-sm-8 m-auto opacity">
        <h1 class="display-4 opacity bg-dark text-light" style="padding-top: 10%; padding-bottom:10%; margin-bottom:5%;">LOGO</h1>
    </div>
    <div class="wrapper d-none d-lg-block">
        <nav id="sidebar">

        </nav>
        <div id="sideNavContent">

        </div>
    </div>
    <div class="navbar fixed-bottom backgroundColor">
        <button class="btn btn-primary d-xs-block d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "EventTypes")'"><i class="fas fa-chevron-left"></i></button>
        <button class="btn btn-primary d-xs-block d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "Customers")'"><i class="fas fa-chevron-right"></i></button>
    </div>

    <script>
        $('.carousel').carousel({
            interval: 3000,
            keyboard: true,
            pause: 'hover',
            wrap: true
        });

        $('#slider4').on('slide.bs.carousel', function () {
            console.log('SLIDE!');
        });

        $('#slider4').on('slid.bs.carousel', function () {
            console.log('SLID!');
        });

    </script>
</body>